.sidebar {
  background: #fff;
  width: 220px;
  min-height: 100vh;
  border-right: 1px solid #eee;
  padding: 1rem 0px;
  transition: all 0.4s ease;
  position: fixed;
  z-index: 999;
  left: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  top: 0;
  overflow: hidden;
   .toggle-btn {
   
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #E27432;
    transition: transform 0.3s;

    &:hover {
      transform: rotate(90deg);
    }
  }

  &.closed {
    width: 0px;

   

    .menu li {
      text-align: center;
      font-size: 0.9rem;
    }
  }

  .logo {
    font-size: 1.4rem;
    font-weight: 600;
    color: #E27432;
    margin-bottom: 2rem;
    text-align: center;
  }

  .menu {
    list-style: none;
    padding: 0;

    li {
      padding: 0.8rem;
      margin: 0.3rem 0;
      border-radius: 8px;
      cursor: pointer;
      transition: background 0.3s;
      color: #333;
      font-weight: 500;

      &:hover {
        background: #dddddd;
        color: #000;
      }
      
    }
    .active {
        background-color: #E27432;
        color: #fff;
      }
  }

  /* Responsive cho mobile */
  &.mobile {
    transform: translateX(-100%);
    &.open {
      transform: translateX(0);
      width: 220px;
    }
  }
}

/* Overlay khi mở sidebar trên mobile */
.overlay {
  position: fixed;
  inset: 0;
//   background: rgba(0,0,0,0.3);
  z-index: 100;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
.sidebar.mobile {
  transform: translateX(-100%);
}

.sidebar.mobile.open {
  transform: translateX(0);
}